<div class="row">
  <div class="col" style="width:1000px">
    <div class="pull-right">
      <select name="appid" id="applicationSelect">
        <option selected="true" disabled="true">---select---</option>
        <option value="0">Test App</option>
        {{#each apps}}
          <option value="{{id}}">{{name}}</option>
        {{/each}}
      </select>
    </div>
    <canvas id="chart1"></canvas>
  </div>
</div>
<script src="/js/analytics/timeseries.js"></script>