<div class="container-fluid">
    <div class="row margin-top">
        <div class="col-md-8 col-xs-12 col-sm-12">
            <div class="card shadow">
                <div class="card-header">
                    <div class="float-left"><a href="/admin/campaigns"><i class="fas fa-chevron-left"></i></a> Campaigns</div>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-row">
                            <div class="col">
                                <div class="md-form">
                                    <input type="text" name="campaign_name" id="campaign_name" class="form-control">
                                    <label for="campaign_name">Campaign Name <small>*</small></label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="md-form">
                                    <input type="text" name="campaign_title" id="campaign_title" class="form-control">
                                    <label for="campaign_title">Campaign Title <small>*</small></label>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <div class="md-form">
                                    <input type="text" class="form-control" name="start_time" id="start_time">
                                    <label for="start_time">Start Time <small>*</small></label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="md-form">
                                    <input type="text" name="end_time" id="end_time" class="form-control">
                                    <label for="end_time">End Time <small>*</small></label>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <div class="md-form">
                                    <textarea class="md-textarea form-control" name="campaign_text" id="campaign_text" rows="5"></textarea>
                                    <label for="campaign_text">Campaign Text <small>*</small></label>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
								<label for="campaignLocation">Location <small>*</small></label>
                                <input type="text" name="location" id="locations">
                            </div>
                            <div class="col">
                                <label for="preTags">Tags</label>
                                <input type="text" name="pretags" id="preTags">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <div class="md-form">
                                    <input type="text" name="action" id="action" class="form-control">
                                    <label for="action">Action <small>*</small></label>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-light-blue">Create Campaign</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-12 col-sm-12">
            <div class="card shadow">
                <div class="card-header">
                    Campaign Creation Help
                </div>
                <div class="card-body">
                </div>
            </div>
        </div>
    </div>
</div>
<script>
//$('#start_time').bootstrapMaterialDatePicker({ weekStart : 0, minDate: new Date(), format : 'YYYY-MM-DD HH:mm' });
$('#end_time').bootstrapMaterialDatePicker({ format: 'YYYY-MM-DD HH:mm'});
$('#start_time').bootstrapMaterialDatePicker({ weekStart : 0, minDate: new Date(), format : 'YYYY-MM-DD HH:mm' }).on('change', function(e, date){
    $('#end_time').bootstrapMaterialDatePicker('setMinDate', date);
    $('#end_time').bootstrapMaterialDatePicker('setFormat', 'YYYY-MM-DD HH:mm');
}); 
$('#preTags').selectize({
    plugins:['remove_button'],
    delimiter: ',',
    persist: false,
    create: function(input) {
        console.log(input);
        return {value: input,text: input}
    },
    onDelete:function(value){
        return '';
    },
    load: function(query, callback) {
        console.log('called');
    }
});
$('#locations').selectize({
    plugins:['drag_drop'],
    delimiter: ',',
    preload: true,
    persist: false,
    maxItems: 5,
    onDelete:function(value){
        return '';
    },
    load: function(query, callback) {
        let add = this.addOption;
        //if(!query.length) return callback();
        $.ajax({
            url: '/admin/campaigns/locations',
            method: 'GET',
            success: function(data) {
                /*data.map(d => {
                    add(d);
                })*/
                callback(data);
            }
        })
    }
});
</script>