<link rel="stylesheet" href="/css/classic.css">
<link rel="stylesheet" href="/css/classic.date.css">
<link rel="stylesheet" href="/css/classic.time.css">
<link rel="stylesheet" href="/css/dropify.min.css">
<script src="/js/picker.js"></script>
<script src="/js/picker.date.js"></script>
<script src="/js/picker.time.js"></script>
<script src="/js/dropify.min.js"></script>
<div class="container-fluid">
	<h1 class="h3 mb-2 text-gray-800">Campaigns</h1>

	<div class="card shadow mb-4">
		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary">Create New Campaign</h6>
		</div>
		
		<div class="card-body">
			<form class="user" action="/admin/campaigns/create" method="post" enctype="multipart/form-data">
				<div class="form-group">
                    <input type="text" class="form-control form-control-user" name="cname" placeholder="Campagin Name" required>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <input type="text" autocomplete="off" id="sdate" class="form-control form-control-user mdate" name="startdate" placeholder="Start Date">
                    </div>	
                    <div class="col-sm-6">
                        <input type="text" autocomplete="off" id="edate" class="form-control form-control-user mdate" name="enddate" placeholder="End Date">
                        <div class="input-group-addon">
        					<span class="glyphicon glyphicon-th"></span>
    					</div>
                	</div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <input type="text" autocomplete="off" id="stime" class="form-control form-control-user" name="starttime" placeholder="Start Time">
                    </div>	
                    <div class="col-sm-6">
                      <input type="text" autocomplete="off" id="etime" class="form-control form-control-user" name="endtime" placeholder="End Time">
                    <div class="input-group-addon">
        					<span class="glyphicon glyphicon-th"></span>
    					</div>
                	</div>
                </div>
                <div class="form-group">
                	<input type="text" placeholder="Campaign Text" name="content" id="Content" class="form-control form-control-user">
                </div>
                <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <select class="form-control custom-select" name="location" id="location">
                            <option value="0" disabled selected>--------</option>
                            {{#each locations}}
                            <option value="{{id}}">{{name}} - {{type}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <input type="text" name="actionUri" id="actionUri" placeholder="Action URI" class="form-control form-control-user">
                    </div>
                </div>
                <div class="form-group">
                    <div class="container">
                        <input type="file" name="image" id="input-file-now" class="dropify" placeholder="Camapign Image"  data-plugin="dropify" data-default-file accept="image/png, image/jpeg">
                    </div>
                </div>
                <button id="submitBtn" disabled="true" type="submit" class="btn btn-primary btn-user btn-block">Create</button>
            </form>
		</div>
	</div>
</div>
<script>
let today = moment();
//let nextDay = moment(today, "DD-MM-YYYY").add(1, 'days');
//let minsTime = today.hour() + 1;
let start_date = $('#sdate').pickadate();
let end_date = $('#edate').pickadate();
let from_date = start_date.pickadate('picker');
from_date.set('min', today._d);
from_date.set('formatSubmit', 'yyyy/mm/dd');
from_date.set('hiddenName', true);
let to_date = end_date.pickadate('picker');
to_date.set('min', false);
to_date.set('formatSubmit', 'yyyy/mm/dd');
to_date.set('hiddenName', true);
from_date.on('set', function(event) {
    if (event.select) {
        let mdate = from_date.get('select');
        to_date.clear();
        let temp = mdate.date + 1;
        mdate['date'] = temp;
        to_date.set('min', mdate);
    }
});
$('#stime').pickatime({
    formatSubmit: 'HH:i',
    hiddenName: true,
    interval: 60,
    hiddenSuffix: ':00'
});
$('#etime').pickatime({
    formatSubmit: 'HH:i',
    hiddenName: true,
    interval: 60,
    hiddenSuffix: ':00'
});
</script>
<script>
$('.dropify').dropify();
$('#location').change(function() {
    if ($('#location').val() == 0) {
        $("#submitBtn").prop('disabled',true);
    } else {
        $("#submitBtn").prop('disabled',false);
    }
});
</script>