<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">Geo Fence</h1>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Create New Geo Fence</h6>
        </div>
        
        <div class="card-body">
            <form class="user" action="/admin/home/geofence/create" method="post">
                <div class="form-group">
                    <input type="text" class="form-control form-control-user" name="fence" placeholder="Geo Fence Name" required>
                </div>
                <button id="submitBtn" type="submit" class="btn btn-primary btn-user btn-block">Create</button>
            </form>
        </div>
    </div>
</div>