<style>
#map, #bmap {height: 500px;width: 100%;}
</style>
<div class="row">
    <div class="col-md-5">
        <div class="card shadow">
            <canvas id="mchart"></canvas>
        </div>
    </div>
    <div class="col-md-7">
        <div class="card shadow">
            <div id="map"></div>
        </div>
    </div>
</div>
<script src="/js/analytics/beacon-heatmap.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgAjjr1VNy4zJCZEz-6FgIdkH3SVBS6jA&callback=initMap&libraries=visualization"></script>