<div class="container fluid">
    <!-- FOUR BOXES START -->
    <div class="row">
        <div class="col-md-3 col-xs-12 box-m mb-4">
            <div class="card shadow border-left-success hi-100 pyi-2">
                <div class="card-body">
                    <div class="row">
                        <div class="col mr-2">
                            <div class="card-text-success text-uppercase">Total Visitors</div>
                            <div class="h5 mb-0 mr-3 card-box-text">{{total}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-xs-12 box-m mb-4">
            <div class="card border-left-info hi-100 pyi-2 shadow">
                <div class="card-body">
                    <div class="row">
                        <div class="col mr-2">
                            <div class="card-text-info text-uppercase">Repeat Visitors</div>
                            <div class="h5 mb-0 mr-3 card-box-text">{{repeatVisitors}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comment fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-xs-12 box-m mb-4">
            <div class="card border-left-warning hi-100 pyi-2 shadow">
                <div class="card-body">
                    <div class="row">
                        <div class="col mr-2">
                            <div class="card-text-warning text-uppercase">Dwell Time</div>
                            <div class="h5 mb-0 mr-3 card-box-text">40 Minutes</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar-alt fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-xs-12 box-m mb-4">
            <div class="card border-left-danger hi-100 pyi-2 shadow">
                <div class="card-body">
                    <div class="row">
                        <div class="col mr-2">
                            <div class="card-text-danger text-uppercase">Last Beacon</div>
                            <div class="h5 mb-0 mr-3 card-box-text">{{beacon}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fab fa-bluetooth-b fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FOUR BOXES END -->

    <div class="row margin-top">
        <div class="col-md-8 col-xs-12 col-sm-12 h-100">
            <div class="card shadow">
                <div class="card-header">Timeline</div>
                <div class="card body ">
                    <canvas id="timeline-chart"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-12 col-sm-12 d-flex">
            <div class="card shadow w-100">
                <div class="card-header">Timeline</div>
                <div class="card body flex-fill">
                    <canvas id="pie-chart"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="row margin-top">
        <div class="col-md-5 col-sm-12 col-xs-12">
            <div class="card shadow">
                <div class="card-header">Users By Location</div>
                <div class="card-body">
                    <h3>Coming Soon...</h3>
                    <img src="/images/powai.png" alt="placeholder" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/charts/demo.js"></script>
<script src="/charts/timeline.js"></script>