<div class="container">
    <div class="jumbotron">
        <center>
            <h3>{{title}}</h3>
        </center>
    </div>

    <table id="deviced" class="table table-dart">
        <thead>
            <tr class="text-center">
                <th scope="col">Index</th>
                <th scope="col">Device ID</th>
                <th scope="col">Time Stamp</th>
            </tr>
        </thead>
        <tbody>
            {{#each devices}}
                <tr>
                    <td class="text-center">{{@index}}</td>
                    <td class="text-center">{{deviceId}}</td>
                    <td class="text-center">{{createdAt}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>

</div>
<script>
$(document).ready(function() {
    $('#deviced').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copyHtml5',
            'excelHtml5',
            'csvHtml5',
            'pdfHtml5'
        ]
    });
});
</script>