<div class="container-fluid">
	<div class="row margin-top">
		<div class="col-md-8">
			<div class="card shadow">
				<div class="card-header">
					<div class="float-left">Location</div>
					<div class="float-right"><a><i class="fas fa-plus fa-lg"></i></a></div>
				</div>
				<div class="card-body">
					<form>
						<div class="form-row">
                            <div class="col">
                                <div class="md-form">
                                    <input type="text" id="beaconMajor" class="form-control" value="{{location.name}}">
                                    <label for="beaconMajor">Location Name</label>
                                </div>
                            </div>
                            <div class="col">
								<label for="beaconLocation">Location Type</label>
								<select name="" id="beaconLocation" class="browser-default custom-select">
									{{#select location.type}}
									<option value="Restaurant">Restaurant</option>
									<option value="Mall">Mall</option>
									{{/select}}
								</select>
                            </div>
                        </div>
						<div class="form-row">
                            <div class="col">
                                <label for="preTags">Tags</label>
                                <input type="text" data-data='{{tags}}' name="pretags" id="preTags">
                            </div>
                        </div>
                        <button class="btn btn-info my-4 btn-block float-md-right" type="submit">Update</button>
					</form>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-xs-12 col-sm-12">
			<div class="card shadow">
				<div class="card-header">
					Location Notice
				</div>
				<div class="card-body"></div>
			</div>
		</div>
	</div>
</div>
<script>
$('#preTags').selectize({
    plugins:['drag_drop'],
    delimiter: ',',
    persist: false,
    create: function(input) {
        return {
            value: input,
            text: input
        }
    },
    onDelete:function(value){
        return '';
    }
});
</script>